# pandas 기초

### 주요 내용

1. csv, xlsx 파일 불러오기
2. 데이터 살펴보기
3. DRM 보안 파일 불러오기

<br>

### 목표 
1. 분석에 필요한 데이터를 python으로 불러올 수 있다.
2. 데이터의 일부나 특성을 확인할 수 있다. 


<br>
<hr>
<br>

## 1. 파일 불러와서 살펴보기

**pandas** 라이브러리의 *read_csv()* 등의 함수를 활용해서 데이터 불러오기 가능 
아래의 표현들을 활용해서 데이터 파일의 경로 지정 필요 

* `/` : **root**. Windows에서는 C:\
* `~/` : 사용자 폴더. Windows에서는 C:\Users\사용자계정이름
* `./` : 현재 작업 폴더(working directory), 별도로 작업하지 않은 경우 생략 가능
* `../` : 현재 폴더의 상위 폴더


`바탕화면`처럼 익숙한 곳에 새로운 폴더를 만들고, 데이터 파일을 옮겨서 작업하는 것을 추천

In [ ]:
# 현재 작업 폴더 확인
    ## print working directory
%pwd

In [ ]:
# 경로 지정 실습
''

<br>

### 1.1. CSV 파일 불러오기

**pandas** 라이브러리 불러오기

In [2]:
import pandas as pd

In [3]:
# pandas의 read_csv( ) 활용
df_ins= pd.read_csv("./data/insurance.csv")
    ## 내 위치의 data폴더의 insurance.csv를 읽자
    ## ./ = 내 위치여서 생략 가느함
# df_ins= pd.read_csv("data/insurance.csv")
    ## 위 코드와 같은 표현임
    
df_ins    
    ## 경로가 중요! 
    ## ./ : ipynb 노트북 파일 폴더
    ## ./ 생략 가능
    ## Tab으로 자동 완성 기능 활용 가능

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
# 타입 확인
type(df_ins)
    ## "DataFrame"

pandas.core.frame.DataFrame

In [ ]:
# 메서드의 확인(마침표 뒤에서 Tab 누르기)
df_ins.

<br>

### 1.2. 데이터 살펴보기

In [5]:
# head( )로 앞 몇개 관측치 확인
df_ins.head(15)

    age     sex     bmi  children smoker     region      charges
0    19  female  27.900         0    yes  southwest  16884.92400
1    18    male  33.770         1     no  southeast   1725.55230
2    28    male  33.000         3     no  southeast   4449.46200
3    33    male  22.705         0     no  northwest  21984.47061
4    32    male  28.880         0     no  northwest   3866.85520
5    31  female  25.740         0     no  southeast   3756.62160
6    46  female  33.440         1     no  southeast   8240.58960
7    37  female  27.740         3     no  northwest   7281.50560
8    37    male  29.830         2     no  northeast   6406.41070
9    60  female  25.840         0     no  northwest  28923.13692
10   25    male  26.220         0     no  northeast   2721.32080
11   62  female  26.290         0    yes  southeast  27808.72510
12   23    male  34.400         0     no  southwest   1826.84300
13   56  female  39.820         0     no  southeast  11090.71780
14   27    male  42.130         0    yes  southeast  39611.75770

In [6]:
# tail( )로 끝 몇 개 관측치 확인
df_ins.tail(n=3)

      age     sex    bmi  children smoker     region     charges
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [7]:
# 관측치/ 변수 개수 확인
df_ins.shape

(1338, 7)

In [8]:
# 관측치 개수만 확인
df_ins.shape[0]

1338

In [9]:
# index(행 이름) 확인
df_ins.index

RangeIndex(start=0, stop=1338, step=1)

In [10]:
# columns(변수 이름) 확인
df_ins.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [11]:
# 변수 형식 확인
df_ins.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

<br>

#### [실습] data 폴더의 PulseRates.csv를 불러와서 df_pr로 저장하기

이후 자유롭게 데이터 탐색하기

In [14]:
df_pr=pd.read_csv("./data/PulseRates.csv")

In [15]:
df_pr.dtypes

Height        int64
Weight      float64
Age           int64
Gender        int64
Smokes        int64
Alcohol       int64
Exercise      int64
Ran           int64
Pulse1      float64
Pulse2      float64
Year          int64
dtype: object

#### [참고] Encoding 지정 및 index, header 지정

In [16]:
# 인코딩(글자 저장 방법) 오류 발생
    ## UnicodeDecodeError  'utf-8' codec can't decode byte 0xbc in position 1: invalid start byte
pd.read_csv('data/고용지표_20221115084415.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbc in position 1: invalid start byte

In [17]:
# 옵션 encoding='CP949' 추가
pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949')

,성별(1),2021. 08,2021. 08.1,2021. 08.2,2021. 09,2021. 09.1,2021. 09.2,2021. 10,2021. 10.1,2021. 10.2,...,2022. 04.2,2022. 05,2022. 05.1,2022. 05.2,2022. 06,2022. 06.1,2022. 06.2,2022. 07,2022. 07.1,2022. 07.2
0,성별(1),경제활동참가율,실업률,고용률,경제활동참가율,실업률,고용률,경제활동참가율,실업률,고용률,...,고용률,경제활동참가율,실업률,고용률,경제활동참가율,실업률,고용률,경제활동참가율,실업률,고용률
1,합계,61.7,4.0,59.2,61.9,3.6,59.7,62.1,4.2,59.5,...,60.4,63.0,3.5,60.8,63.0,3.4,60.8,62.9,3.3,60.9
2,남자,70.0,4.1,67.1,70.3,3.8,67.7,70.6,4.6,67.3,...,68.7,71.8,3.7,69.2,71.6,3.3,69.2,71.3,3.4,68.9
3,여자,54.2,3.9,52.1,54.3,3.4,52.5,54.5,3.7,52.5,...,52.9,55.0,3.3,53.2,55.2,3.6,53.2,55.4,3.1,53

In [18]:
# index, header 지정
pd.read_csv('data/고용지표_20221115084415.csv', encoding='CP949', index_col=0, header=[0,1])

성별(1) 2021. 08            2021. 09            2021. 10            2021. 11  \
성별(1)  경제활동참가율  실업률   고용률  경제활동참가율  실업률   고용률  경제활동참가율  실업률   고용률  경제활동참가율
합계        61.7  4.0  59.2     61.9  3.6  59.7     62.1  4.2  59.5     62.5
남자        70.0  4.1  67.1     70.3  3.8  67.7     70.6  4.6  67.3     71.2
여자        54.2  3.9  52.1     54.3  3.4  52.5     54.5  3.7  52.5     54.6

성별(1)  ... 2022. 04 2022. 05            2022. 06            2022. 07       \
성별(1)  ...      고용률  경제활동참가율  실업률   고용률  경제활동참가율  실업률   고용률  경제활동참가율  실업률
합계     ...     60.4     63.0  3.5  60.8     63.0  3.4  60.8     62.9  3.3
남자     ...     68.7     71.8  3.7  69.2     71.6  3.3  69.2     71.3  3.4
여자     ...     52.9     55.0  3.3  53.2     55.2  3.6  53.2     55.4  3.1

성별(1)
성별(1)   고용률
합계     60.9
남자     68.9
여자     53.0

[3 rows x 36 columns]

<br>


### 1.3. Excel 파일 불러오기  

`Excel` 파일은 구버전의 **xls**와 새로운 버전의 **xlsx**로 구분하며 추가 라이브러리 `xlrd`와 `openpyxl` 설치 필수
 이후 pandas의 `read_excel( )`을 사용 가능

In [19]:
# 무난한 첫번째 시트 데이터 불러오기
sheet1 = pd.read_excel('./data/test.xlsx')
sheet1

   ID  Var1  Var2  Var3
0   1    11    45    75
1   2    54    32    34
2   4    65    43    54

In [20]:
# 시트 번호 지정하고 2줄 무시하기
sheet2 = pd.read_excel('data/test.xlsx', sheet_name=1, skiprows=2)
sheet2
    ## sheet_name : 시트 이름이나 번호 지정, 번호는 0부터 시작
    ## skiprows   : 무시할 행 수

   이름  나이    키
0  민서  20  160
1  민준  21  175

In [21]:
# 첫 행부터 데이터가 시작되는 데이터 불러오기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None)
sheet3
    ## header : 첫 행에 변수이름이 저장되었는지 여부

      0   1
0  2015  32
1  2016  34
2  2017   -

In [22]:
# 첫 행부터 데이터가 시작되는 데이터 불러오면서 변수 이름 지정하기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None, names=['년도','건수'])
sheet3

     년도  건수
0  2015  32
1  2016  34
2  2017   -

In [23]:
# 결측 저장값 지정하기
sheet3 = pd.read_excel('data/test.xlsx', sheet_name=2, header=None, names=['년도','건수'], na_values='-')
sheet3
    ## NaN : 결측값

     년도    건수
0  2015  32.0
1  2016  34.0
2  2017   NaN


<br>  

####  [실습] 아래의 사이트에서 관심있는 데이터를 탐색하기

* csv 파일 중 인코딩 관련 에러가 발생할 경우 read_csv( )안에서 `encoding='CP949'` 옵션 추가
* xlsx의 경우 다운로드한 파일을 열어서 읽기 전용을 해제해야 할 수도 있음



[공공데이터포털](https://www.data.go.kr/index.do)

[서울 열린데이터 광장](http://data.seoul.go.kr/)

[Dacon](https://dacon.io/)

In [25]:
pd.read_csv("/Users/user/Documents/제주특별자치도 서귀포시_드론배달점사물주소_20231128.csv", encoding="cp949")

,사물명,사물주소,위도,경도,데이터기준일자
0,중문단지 축구장,제주특별자치도 서귀포시 이어도로 120-43 드론배달점,33.235275,126.433629,2023-11-28
1,제주국제컨벤션센터,제주특별자치도 서귀포시 이어도로 18 드론배달점,33.241614,126.426312,2023-11-28
2,중문해수욕장,제주특별자치도 서귀포시 중문관광로 154-28 드론배달점,33.244963,126.413366,2023-11-28
3,중문불란지야시장,제주특별자치도 서귀포시 중문상로17번길 5 드론배달점,33.250078,126.423942,2023-11-28
4,살레덕선착장,제주특별자치도 서귀포시 대정읍 마라로 2 드론배달점,33.122080,126.269982,2023-11-28
5,가파포구,제주특별자치도 서귀포시 대정읍 가파로 72 드론배달점,33.166082,126.274021,2023-11-28
6,상동포구,제주특별자치도 서귀포시 대정읍 가파로 252 드론배달점,33.174555,126.270035,2023-11-28
7,섯알오름 주차장,제주특별자치도 서귀포시 대정읍 비행장로 308 드론배달점,33.204770,126.277205,2023-11-28
8,모슬포항,제주특별자치도 서귀포시 대정읍 신영로36번길 48-49 드론배달점,33.215558,126.248898,2023-11-28
9,운진항,제주특별자치도 서귀포시 대정읍 최남단해안로 124 드론배달점,33.209513,126.257010,2023-11-28
10,성산항,제주특별자치도 서귀포시 성산읍 성산등용로 130-25 드론배달점,33.473054,126.934615,2023-11-28

## 2.  [참고]DRM 보안 적용된 Excel 파일 불러오기

### 2.1. pywin32 활용

In [ ]:
import pandas as pd
import win32com.client as win32
import os 

# Excel 실행
excel=win32.Dispatch('Excel.Application')   

# 경로 지정 및 파일 열기
filepath = os.getcwd() +'/data/test.xlsx'
wb = excel.Workbooks.Open(filepath)

# Sheet 지정
ws = wb.Worksheets(1) 

# 전체 행, 열 수 확인
nRow = ws.UsedRange.Rows.Count 
nColumn = ws.UsedRange.Columns.Count 

# 불러올 범위 지정
listValue = ws.Range(ws.Cells(1,1) , ws.Cells(nRow,nColumn)).Value
df_drm = pd.DataFrame(listValue[1:] , columns=listValue[0]) 

excel.Quit()     

df_drm

<br>
<br>

### 2.2. xlwings 라이브러리 활용

In [ ]:
# 라이브러리 설치
# !pip install xlwings

In [ ]:
# 라이브러리 불러오기
import xlwings as xw
import pandas as pd
import os

In [ ]:
# Excel 파일 열기
# filepath = os.getcwd() +'/data/test.xlsx'
book = xw.Book('./data/test.xlsx')

In [ ]:
# Sheet 선택
sheet = book.sheets[0]    

# 전체 데이터 데이터 불러오기
df_drm = sheet.used_range.options(pd.DataFrame, index = False).value
df_drm

In [ ]:
# 특정 부분만 불러오기
sheet = book.sheets[1]    
df_drm = sheet.range("A3:C5").options(pd.DataFrame, index = False).value
df_drm

In [ ]:
# 종료
xw.apps.active.quit()

#### End of script