# Python 기초 문법

### 주요 내용

1. int, str, 리스트 등 주요 객체 형식
2. numpy를 활용한 행렬 연산
3. pandas를 활용한 데이터 활용

<br>

### 목표
1. int, str 등 객체 형식에 따라 적절한 메서드를 활용한다.
2. 여러 개의 값을 리스트 형식 등으로 저장하고 활용한다.
3. numpy와 pandas을 적절히 활용한다.


<br>
<hr>
<br>

> Python은 개발 언어로 분석 중심의 언어가 아닙니다. 0에서 1을 만드는 개발과 달리 데이터 분석은 데이터라는 재료를 활용하기 때문에 방대한 Python 기초 문법을 모두 배워야하는 것은 아닙니다. 필요하고 중요한 내용 중심으로 살펴보겠습니다.


<br>

## 1. 형식의 이해



<br>



### 1.1. 숫자와 문자, 출력과 저장(할당)

숫자는 그냥 입력하면 되고, 문자는 큰 따옴표나 작은 따옴표를 붙임  
`print( )` 함수를 써서 출력하거나 `=`을 써서 값을 객체로 저장할 수도 있음

In [31]:
# 숫자와 연산
    ## 마지막 결과만 출력
    ## 중간 공백은 문제 없지만 시작 위치는 민감
1+2*3/4

1 + 2  * 3/  4**5

1.005859375

In [32]:
# 문자
    ## 큰따옴표, 작은따옴표 차이 없음
'삼성전자'

'삼성전자'

In [ ]:
"삼성전자"

In [ ]:
# 할당(assign), 저장
    ## '+' : 숫자 덧셈 연산, 문자열 결합
a = '가나다'
b = '라마바'
a + b

In [ ]:
# type()으로 타입 확인하기
type(1)

In [ ]:
type('가')

In [ ]:
type(0.5)

#### [실습] x에 10.1을 저장하고, y에 101을 저장한 다음 더하기

In [1]:
x=10.1
y=101
z=x+y
print(z)

111.1


<br>

### 1.2. 여러 값을 묶은 리스트(list)

`1`, `'삼성'`처럼 하나의 값이 아니라 여러개의 값을 묶으면 수열, 문자열이 생성  
Python에서는 **리스트(list)** 형식 등으로 수열, 문자열을 다룸  

<br>

#### 1.2.1. 대괄호([ ])를 활용한 리스트 생성

In [33]:
salary = [5000, 6000, 7000, 6000, 9000]
salary

[5000, 6000, 7000, 6000, 9000]

In [34]:
# 타입 확인 : list
type(salary)

list

In [35]:
# 문자열 리스트
jobs = ['회로설계', '반도체공정설계', '신호 및 시스템 설계', 'S/W개발', '영업마케팅', '경영지원', '생산관리']
jobs

['회로설계', '반도체공정설계', '신호 및 시스템 설계', 'S/W개발', '영업마케팅', '경영지원', '생산관리']

#### [실습] 1~10까지 숫자 중에서 마음대로 3개 숫자 선택해서 리스트로 만들어 저장하기



#### [실습] 점심/저녁 메뉴 3개를 리스트로 묶어 menu로 저장하기

In [39]:
ss=[1,5,7]
ss

[1, 5, 7]

In [40]:
menu=['보쌈', '김치', '카레']
menu

['보쌈', '김치', '카레']

#### [참고] 위의 실습 내용을 Random 모듈을 활용해 임의로 선택하기

In [41]:
import random

In [23]:
random.randrange(1,11)

5

In [6]:
[random.randrange(1,11),random.randrange(1,11),random.randrange(1,11)]

[9, 7, 6]

In [24]:
totalmenu = ["짜장면", "돈까스", "제육볶음", "파스타", "감자탕", "생선구이", "칼국수", "비빔밥", "초밥"]
menu = [random.choice(totalmenu),
        random.choice(totalmenu),
        random.choice(totalmenu)]
print(menu)

['칼국수', '짜장면', '짜장면']

<br>

#### 1.2.2. 리스트의 주요 메서드

append( )는 리스트에 값을 추가

In [25]:
# 더 이어 붙이기
salary = [5000, 6000, 7000, 6000, 9000]
salary

[5000, 6000, 7000, 6000, 9000]

In [ ]:
salary.append(10000)
salary

#### [실습] 관심있는 메뉴 3개를 묶은 menu에 append( )로 메뉴 하나 더 추가하기

In [9]:
menu=[400,100,1200]
menu.append(1300)
menu

[400, 100, 1200, 1300]

<br>

#### 1.2.3. index의 활용   

리스트를 만들 때 사용한 대괄호와 별개로, 만들어진 리스트에 대괄호 인덱스를 활용해서 부분을 선택

In [42]:
# 대괄호 index를 활용한 부분 선택
    ## index는 0부터 시작 : 첫번째 값이 0
    ## 콜론(:)을 활용해 연속적인 인덱스 지정 가능(슬라이싱), 끝 인덱스 미포함
salary[0]

5000

In [27]:
salary[0:2]
# salary[:2] # 처음부터 2까지
# salary[2:] # 2부터 끝까지

[5000, 6000]

In [28]:
# 인덱스를 활용한 업데이트
salary[0] = 50000
salary

[50000, 6000, 7000, 6000, 9000]

#### [실습] menu에서 첫번째 메뉴만 선택


#### [실습] menu에서 세번째 메뉴를 '우동'으로 변경

In [10]:
menu[0]
menu[2]='우동'
menu

[400, 100, '우동', 1300]


<br>

#### 1.2.4. range( )를 활용한 수열 만들기

연속적인 수열을 만들 때는 `range( )`를 활용

In [10]:
# 0부터 시작하는 range
range(10)

range(0, 10)

In [11]:
# range( )와 list( )를 활용한 수열 생성
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(1, 20))
    ## 1부터 20 바로 앞 19까지

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
list(range(1, 20, 3))
    ## 1부터 19까지 3간격

[1, 4, 7, 10, 13, 16, 19]

<br>

#### [실습] range( )와 list( )로 2013부터 2022까지 10개 연도 만들기

In [13]:
range(2013,2023,1)
list(range(2013,2023,1))

[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [ ]:
### 1.3. for 반복문 예제

In [9]:
# 간단한 for loop 예제
count = 0 # 데이터를 담을 변수를 먼저 생성

for i in [11,12,13,14,15,16,17,18,19, 20]:
    count += 1 ## 반복할 때마다 1씩 증가
    print(str(count) + '번째 값은 '+ str(i))

1번째 값은 11
2번째 값은 12
3번째 값은 13
4번째 값은 14
5번째 값은 15
6번째 값은 16
7번째 값은 17
8번째 값은 18
9번째 값은 19
10번째 값은 20


<br>

#### [같이 실습] 위의 for 반복문에서 반복횟수를 range( ) 함수를 이용해서 정의하기

In [14]:
count = 0 # 데이터를 담을 변수를 먼저 생성

for i in range(11, 21):
    count += 1 ## 반복할 때마다 1씩 증가
    print(str(count) + '번째 값은 '+ str(i))

1번째 값은 11
2번째 값은 12
3번째 값은 13
4번째 값은 14
5번째 값은 15
6번째 값은 16
7번째 값은 17
8번째 값은 18
9번째 값은 19
10번째 값은 20

In [15]:
countlist = [] # 데이터를 담을 변수를 먼저 생성

for i in range(11, 21):
    countlist.append (i) ## 반복할 때마다 i값을 countlist에 추가

countlist

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

<br>
<br>
<br>


## 2. numpy의 활용

**numpy**는 *ndarray*라는 형식을 활용해서 다양한 행렬 연산과 처리를 지원


### 2.1. ndarray 생성

In [19]:
import numpy as np

In [20]:
# 리스트 형식을 ndarray 형식으로 변환하기
x = [1, 2, 4, 8]
y = np.array(x)
y

array([1, 2, 4, 8])

In [21]:
# 형식 확인
type(y)

numpy.ndarray

In [22]:
# 수열 생성
    ## 0부터 10까지 101개 숫자
np.linspace(0, 10, 101)

array([ 0. ,  0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,
        1.1,  1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,
        2.2,  2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,
        3.3,  3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,
        4.4,  4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,
        5.5,  5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,
        6.6,  6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,
        7.7,  7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,
        8.8,  8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,
        9.9, 10. ])

In [23]:
# 랜덤 숫자 뽑기
np.random.randint(1, 46, 6)

array([ 3, 19, 37, 43, 28, 34])

In [24]:
# 중첩(nested) 리스트를 활용한 다차원 행렬 만들기
y2 = np.array([ [1,2,3,4], [9,8,7,6] ])
y3 = np.array([ [0, 1], [1, 0] ])

y2, y3

(array([[1, 2, 3, 4],
        [9, 8, 7, 6]]),
 array([[0, 1],
        [1, 0]]))

In [25]:
# 행렬 크기 확인
y2.shape
    ## 2x4, 2행 4열, 2개 관측치 4개 변수

(2, 4)

<br>

### 2.2. ndarray와 연산

numpy에는 ndarray에 적용할 수 있는 다양한 연산자와 함수가 준비되어 있음

In [27]:
# 산술 연산
y2 * 2 + 1

array([[ 3,  5,  7,  9],
       [19, 17, 15, 13]])

In [28]:
# 행렬 곱
y3@y2

array([[9, 8, 7, 6],
       [1, 2, 3, 4]])

In [29]:
# 전체 합계
np.sum(y2)

40

In [30]:
# 열 합계
np.sum(y2, axis=0)

array([10, 10, 10, 10])

In [31]:
# 행 평균
np.mean(y2, axis=1)

array([2.5, 7.5])

<br>

### 2.3. 부분 선택
대괄호 인덱스를 활용하여 ndarray에서 일부를 선택할 수 있습니다.

In [32]:
y

array([1, 2, 4, 8])

In [33]:
# 특정 인덱스 선택
y[1]

2

In [34]:
# 슬라이스 활용
y[1:]

array([2, 4, 8])

In [35]:
y[:2]

array([1, 2])

In [36]:
y[:-1]

array([1, 2, 4])

In [37]:
# 다차원 행렬의 부분 선택
    # 콤마 앞은 행, 뒤는 열
y2[:, :]

array([[1, 2, 3, 4],
       [9, 8, 7, 6]])

In [38]:
y2[1, 1:3]

array([8, 7])

<br>

#### [실습] 행렬 생성 및 연산
1. 아래의 행렬을 만들고 *mat*으로 저장하기

$$\begin{bmatrix} 1 & 2 & 1 \\ 3 & 0 & 1 \\ 0 & 2 & 4 \\ 2 & 1 & 1 \end{bmatrix}$$

2. `np.max()`을 활용해서 *mat*에서 전체 최댓값 계산하기

3. `np.mean()`을 활용해서 *mat*에서 행 평균 계산하기

4. 첫번째부터 세번째 행의 두번째 열 선택

In [39]:
mat = np.array([[1,2,1],
                [3,0,1],
                [0,2,4],
                [2,1,1]])
mat

array([[1, 2, 1],
       [3, 0, 1],
       [0, 2, 4],
       [2, 1, 1]])

In [40]:
# 2. np.max()을 활용해서 mat에서 전체 최댓값 계산하기
np.max(mat)

4

In [42]:
# 3. np.mean()을 활용해서 mat에서 행 평균 계산하기
np.mean(mat, axis=1)

array([1.33333333, 1.33333333, 2.        , 1.33333333])

In [43]:
# 4. 첫번째부터 세번째 행의 두번째 열 선택
mat[0:3, 1]

array([2, 0, 2])

### 2.4. 길이와 거리 계산

ndarray를 활용해서 길이나 관측치 간 거리를 계산 가능

In [ ]:
a = np.array([1,3])
b = np.array([4,3])

In [ ]:
# 벡터의 길이(norm) 계산
# linalg : linear algebra
np.linalg.norm(a), np.linalg.norm(b)

In [ ]:
# 거리 계산
print(np.linalg.norm(a-b))

<br>
<br>
<br>

## 3. pandas의 활용

**pandas** 라이브러리의 *read_csv()* 등의 함수를 활용해서 csv 등 데이터 불러오기 가능

<br>

### 3.1. CSV 파일 불러오기

In [44]:
# pandas 라이브러리 불러오기
import pandas as pd

In [45]:
# pandas의 read_csv( ) 활용
df_ins= pd.read_csv("./data/insurance.csv")
df_ins= pd.read_csv("data/insurance.csv")
df_ins
    ## 경로가 중요!
    ## ./ : 현재 (ipynb 노트북 파일이 위치하는) 폴더
    ## ./ 생략 가능
    ## Tab으로 자동 완성 기능 활용 가능

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [46]:
# 타입 확인
type(df_ins)
    ## "DataFrame"

pandas.core.frame.DataFrame

In [52]:
# 메서드의 확인(마침표 뒤에서 Tab 누르기)
df_ins.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [50]:
# columns(변수 이름) 확인
df_ins.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [54]:
df_ins.shape

df_ins.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

<br>

#### [함께 실습] data 폴더의 PulseRates.csv를 불러와서 df_pr로 저장하기

이후 데이터 탐색하기 (.columns, .shape, .head, .dtypes 등)

In [55]:
df_pr = pd.read_csv("./data/PulseRates.csv")
df_pr.head

<bound method NDFrame.head of      Height  Weight  Age  Gender  Smokes  Alcohol  Exercise  Ran  Pulse1  \
0       173    57.0   18       2       2        1         2    2    86.0
1       179    58.0   19       2       2        1         2    1    82.0
2       167    62.0   18       2       2        1         1    1    96.0
3       195    84.0   18       1       2        1         1    2    71.0
4       173    64.0   18       2       2        1         3    2    90.0
..      ...     ...  ...     ...     ...      ...       ...  ...     ...
105      93    27.0   19       2       2        2         3    2   119.0
106     161    43.0   19       2       2        2         3    2    90.0
107     182    60.0   22       1       2        1         3    2    86.0
108     170    65.0   18       1       2        1         1    2    69.0
109     185    85.0   19       1       2        1         2    2    75.0

     Pulse2  Year
0      88.0    93
1     150.0    93
2     176.0    93
3      73.0    93
4      88.0    93
..      ...   ...
105   120.0    98
106    89.0    98
107    84.0    98
108    64.0    98
109    68.0    98

[110 rows x 11 columns]>

In [57]:
df_pr.shape

(110, 11)

In [59]:
df_pr.dtypes

Height        int64
Weight      float64
Age           int64
Gender        int64
Smokes        int64
Alcohol       int64
Exercise      int64
Ran           int64
Pulse1      float64
Pulse2      float64
Year          int64
dtype: object

In [58]:
df_pr.head

<bound method NDFrame.head of      Height  Weight  Age  Gender  Smokes  Alcohol  Exercise  Ran  Pulse1  \
0       173    57.0   18       2       2        1         2    2    86.0
1       179    58.0   19       2       2        1         2    1    82.0
2       167    62.0   18       2       2        1         1    1    96.0
3       195    84.0   18       1       2        1         1    2    71.0
4       173    64.0   18       2       2        1         3    2    90.0
..      ...     ...  ...     ...     ...      ...       ...  ...     ...
105      93    27.0   19       2       2        2         3    2   119.0
106     161    43.0   19       2       2        2         3    2    90.0
107     182    60.0   22       1       2        1         3    2    86.0
108     170    65.0   18       1       2        1         1    2    69.0
109     185    85.0   19       1       2        1         2    2    75.0

     Pulse2  Year
0      88.0    93
1     150.0    93
2     176.0    93
3      73.0    93
4      88.0    93
..      ...   ...
105   120.0    98
106    89.0    98
107    84.0    98
108    64.0    98
109    68.0    98

[110 rows x 11 columns]>

In [56]:
df_pr.columns

Index(['Height', 'Weight', 'Age', 'Gender', 'Smokes', 'Alcohol', 'Exercise',
       'Ran', 'Pulse1', 'Pulse2', 'Year'],
      dtype='object')

<br>

### 3.2. 변수 선택

대괄호 인덱스에 변수 이름을 입력하고 변수를 선택 가능  
리스트로 변수 이름을 묶고 여러 변수를 한번에 선택 가능

In [64]:
# 한 변수 선택
    # Series 형식으로 출력됨
df_ins['age']

0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [65]:
# 한 변수 선택
    # DataFrame 형식으로 출력됨
df_ins[['age']]

      age
0      19
1      18
2      28
3      33
4      32
...   ...
1333   50
1334   18
1335   18
1336   21
1337   61

[1338 rows x 1 columns]

In [66]:
# 리스트를 활용한 복수 변수 선택
df_ins[['age','smoker','charges']]

      age smoker      charges
0      19    yes  16884.92400
1      18     no   1725.55230
2      28     no   4449.46200
3      33     no  21984.47061
4      32     no   3866.85520
...   ...    ...          ...
1333   50     no  10600.54830
1334   18     no   2205.98080
1335   18     no   1629.83350
1336   21     no   2007.94500
1337   61    yes  29141.36030

[1338 rows x 3 columns]

<br>

### 3.3. 관측치 부분 선택

특정 변수를 선택한 다음 조건을 설정하고 실행하면 True/False로 구성된 bool Series가 계산됨
bool Series를 데이터 대괄호 인덱스에 넣어 조건과 일치하는 관측치를 선택 가능

In [68]:
# 변수 선택
df_ins['age']

0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [61]:
# 조건 설정
df_ins['age'] < 30

0        True
1        True
2        True
3       False
4       False
        ...
1333    False
1334     True
1335     True
1336     True
1337    False
Name: age, Length: 1338, dtype: bool

In [62]:
# 조건과 일치하는 관측치 선택
df_ins[df_ins['age'] < 30]

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
10     25    male  26.220         0     no  northeast   2721.32080
12     23    male  34.400         0     no  southwest   1826.84300
...   ...     ...     ...       ...    ...        ...          ...
1328   23  female  24.225         2     no  northeast  22395.74424
1331   23  female  33.400         0     no  southwest  10795.93733
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500

[417 rows x 7 columns]

In [67]:
# 일치 여부를 활용한 특정 그룹 선택
df_ins_male = df_ins[ df_ins['sex'] == 'male' ]
df_ins_male

      age   sex     bmi  children smoker     region      charges
1      18  male  33.770         1     no  southeast   1725.55230
2      28  male  33.000         3     no  southeast   4449.46200
3      33  male  22.705         0     no  northwest  21984.47061
4      32  male  28.880         0     no  northwest   3866.85520
8      37  male  29.830         2     no  northeast   6406.41070
...   ...   ...     ...       ...    ...        ...          ...
1324   31  male  25.935         1     no  northwest   4239.89265
1325   61  male  33.535         0     no  northeast  13143.33665
1327   51  male  30.030         1     no  southeast   9377.90470
1329   52  male  38.600         2     no  southwest  10325.20600
1333   50  male  30.970         3     no  northwest  10600.54830

[676 rows x 7 columns]

<br>

#### [실습] 데이터 불러오기 및 부분 선택

1. `data`폴더에서 `StudentsPerformance.csv`를 불러와서 **df_sp**로 저장하기
2. **df_sp**에서 `math score`, `reading score`, `writing score` 세 변수 선택하기
3. **df_sp**에서 `math score`가 90이상인 관측치 선택하기
4. **df_sp**에서 `gender`가 *'female'*인 관측치 선택하기

In [70]:
# 1. data폴더에서 StudentsPerformance.csv를 불러와서 df_sp로 저장하기
df_sp = pd.read_csv("./data/StudentsPerformance.csv")

In [72]:
# 2. df_sp에서 math score, reading score, writing score 세 변수 선택하기
df_sp[['math score', 'reading score', 'writing score']]

     math score  reading score  writing score
0            72             72             74
1            69             90             88
2            90             95             93
3            47             57             44
4            76             78             75
..          ...            ...            ...
995          88             99             95
996          62             55             55
997          59             71             65
998          68             78             77
999          77             86             86

[1000 rows x 3 columns]

In [75]:
# 3.df_sp에서 math score가 90이상인 관측치 선택하기

df_sp[df_sp['math score'] >= 90]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
2,female,group B,master's degree,standard,none,90,95,93
34,male,group E,some college,standard,none,97,87,82
104,male,group C,some college,standard,completed,98,86,90
114,female,group E,bachelor's degree,standard,completed,99,100,100
121,male,group B,associate's degree,standard,completed,91,89,92
149,male,group E,associate's degree,free/reduced,completed,100,100,93
165,female,group C,bachelor's degree,standard,completed,96,100,100
171,male,group E,some high school,standard,none,94,88,78
179,female,group D,some high school,standard,completed,97,100,100
233,male,group E,some high school,standard,none,92,87,78
263,female,group E,high school,standard,none,99,93,90
286,male,group E,associate's degree,standard,completed,97,82,88
299,male,group D,associate's degree,free/reduced,none,90,87,75
306,male,group E,some college,standard,completed,99,87,81
333,male,group B,associate's degree,standard,none,90,78,81
451,female,group E,some college,standard,none,100,92,97
458,female,group E,bachelor's degree,standard,none,100,100,100
469,male,group C,some college,standard,none,91,74,76
474,female,group B,associate's degree,standard,completed,90,90,91
501,female,group B,associate's degree,standard,completed,94,87,92
503,female,group E,associate's degree,standard,completed,95,89,92
521,female,group C,associate's degree,standard,none,91,86,84
539,male,group A,associate's degree,standard,completed,97,92,86
546,female,group A,some high school,standard,completed,92,100,97
562,male,group C,bachelor's degree,standard,completed,96,90,92
566,female,group E,bachelor's degree,free/reduced,completed,92,100,100
571,male,group A,bachelor's degree,standard,none,91,96,92
594,female,group C,bachelor's degree,standard,completed,92,100,99
612,male,group C,bachelor's degree,standard,completed,94,90,91
618,male,group D,master's degree,standard,none,95,81,84
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
659,male,group D,associate's degree,standard,none,90,87,85
685,female,group E,master's degree,standard,completed,94,99,100
689,male,group E,some college,free/reduced,none,93,90,83
710,male,group C,some college,standard,completed,93,84,90
712,female,group D,some college,standard,none,98,100,99
717,female,group C,associate's degree,standard,completed,96,96,99
719,male,group E,associate's degree,free/reduced,completed,91,73,80
736,male,group C,associate's degree,standard,none,92,79,84
779,male,group E,associate's degree,standard,completed,94,85,82
784,male,group C,bachelor's degree,standard,completed,91,81,79
808,male,group C,high school,standard,none,90,75,69
815,male,group B,some high school,standard,completed,94,86,87
845,male,group E,master's degree,standard,none,90,85,84
846,male,group C,master's degree,standard,completed,91,85,85
855,female,group B,bachelor's degree,standard,none,97,97,96
864,male,group C,associate's degree,standard,none,97,93,91
873,male,group E,associate's degree,free/reduced,none,90,90,82
886,female,group E,associate's degree,standard,completed,93,100,95
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100
916,male,group E,bachelor's degree,standard,completed,100,100,100
919,male,group B,some college,standard,completed,91,96,91
934,male,group C,associate's degree,standard,completed,98,87,90
950,male,group E,high school,standard,none,94,73,71
957,female,group D,master's degree,standard,none,92,100,100
962,female,group E,associate's degree,standard,none,100,100,100
979,female,group C,associate's degree,standard,none,91,95,94

In [76]:
# 4.df_sp에서 gender가 'female'인 관측치 선택하기

df_sp[df_sp['gender'] == 'female']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

<br>

### 3.4. DataFrame 변형하기

DataFrame에서 새로운 변수(열)를 추가하는 등의 변형이 가능

In [77]:
# df_pr 변수 중 height와 weight 변수를 가지고 bmi 계산해서 df_pr에 BMI란 변수 이름으로 추가하기
# BMI =  몸무게(kg)/(키(m)*키(m))
df_pr.assign(BMI = (df_pr['Weight'] / ((df_pr['Height'] * 0.01) ** 2)))

,Height,Weight,Age,Gender,Smokes,Alcohol,Exercise,Ran,Pulse1,Pulse2,Year,BMI
0,173,57.0,18,2,2,1,2,2,86.0,88.0,93,19.045073
1,179,58.0,19,2,2,1,2,1,82.0,150.0,93,18.101807
2,167,62.0,18,2,2,1,1,1,96.0,176.0,93,22.230987
3,195,84.0,18,1,2,1,1,2,71.0,73.0,93,22.090730
4,173,64.0,18,2,2,1,3,2,90.0,88.0,93,21.383942
...,...,...,...,...,...,...,...,...,...,...,...,...
105,93,27.0,19,2,2,2,3,2,119.0,120.0,98,31.217482
106,161,43.0,19,2,2,2,3,2,90.0,89.0,98,16.588866
107,182,60.0,22,1,2,1,3,2,86.0,84.0,98,18.113754
108,170,65.0,18,1,2,1,1,2,69.0,64.0,98,22.491349
109,185,85.0,19,1,2,1,2,2,75.0,68.0,98,24.835646

### [참고] list, np.array, pd.Series의 호환

In [78]:
# pandas의 Series
df_ins['age']

0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [79]:
# Series의 list 변환 - 2가지 방법
list(df_ins['age'])
df_ins['age'].to_list()
# 결과출력 창이 길어서 생략

[19,
 18,
 28,
 33,
 32,
 31,
 46,
 37,
 37,
 60,
 25,
 62,
 23,
 56,
 27,
 19,
 52,
 23,
 56,
 30,
 60,
 30,
 18,
 34,
 37,
 59,
 63,
 55,
 23,
 31,
 22,
 18,
 19,
 63,
 28,
 19,
 62,
 26,
 35,
 60,
 24,
 31,
 41,
 37,
 38,
 55,
 18,
 28,
 60,
 36,
 18,
 21,
 48,
 36,
 40,
 58,
 58,
 18,
 53,
 34,
 43,
 25,
 64,
 28,
 20,
 19,
 61,
 40,
 40,
 28,
 27,
 31,
 53,
 58,
 44,
 57,
 29,
 21,
 22,
 41,
 31,
 45,
 22,
 48,
 37,
 45,
 57,
 56,
 46,
 55,
 21,
 53,
 59,
 35,
 64,
 28,
 54,
 55,
 56,
 38,
 41,
 30,
 18,
 61,
 34,
 20,
 19,
 26,
 29,
 63,
 54,
 55,
 37,
 21,
 52,
 60,
 58,
 29,
 49,
 37,
 44,
 18,
 20,
 44,
 47,
 26,
 19,
 52,
 32,
 38,
 59,
 61,
 53,
 19,
 20,
 22,
 19,
 22,
 54,
 22,
 34,
 26,
 34,
 29,
 30,
 29,
 46,
 51,
 53,
 19,
 35,
 48,
 32,
 42,
 40,
 44,
 48,
 18,
 30,
 50,
 42,
 18,
 54,
 32,
 37,
 47,
 20,
 32,
 19,
 27,
 63,
 49,
 18,
 35,
 24,
 63,
 38,
 54,
 46,
 41,
 58,
 18,
 22,
 44,
 44,
 36,
 26,
 30,
 41,
 29,
 61,
 36,
 25,
 56,
 18,
 19,
 39,
 45,
 51,
 64,
 19,
 48,
 60,
 27,
 46,
 28,
 59,
 35,
 63,
 40,
 20,
 40,
 24,
 34,
 45,
 41,
 53,
 27,
 26,
 24,
 34,
 53,
 32,
 19,
 42,
 55,
 28,
 58,
 41,
 47,
 42,
 59,
 19,
 59,
 39,
 40,
 18,
 31,
 19,
 44,
 23,
 33,
 55,
 40,
 63,
 54,
 60,
 24,
 19,
 29,
 18,
 63,
 54,
 27,
 50,
 55,
 56,
 38,
 51,
 19,
 58,
 20,
 52,
 19,
 53,
 46,
 40,
 59,
 45,
 49,
 18,
 50,
 41,
 50,
 25,
 47,
 19,
 22,
 59,
 51,
 40,
 54,
 30,
 55,
 52,
 46,
 46,
 63,
 59,
 52,
 28,
 29,
 25,
 22,
 25,
 18,
 19,
 47,
 31,
 48,
 36,
 53,
 56,
 28,
 57,
 29,
 28,
 30,
 58,
 41,
 50,
 19,
 43,
 49,
 27,
 52,
 50,
 54,
 44,
 32,
 34,
 26,
 34,
 57,
 29,
 40,
 27,
 45,
 64,
 52,
 61,
 52,
 61,
 56,
 43,
 64,
 60,
 62,
 50,
 46,
 24,
 62,
 60,
 63,
 49,
 34,
 33,
 46,
 36,
 19,
 57,
 50,
 30,
 33,
 18,
 46,
 46,
 47,
 23,
 18,
 48,
 35,
 19,
 21,
 21,
 49,
 56,
 42,
 44,
 18,
 61,
 57,
 42,
 26,
 20,
 23,
 39,
 24,
 64,
 62,
 27,
 55,
 55,
 35,
 44,
 19,
 58,
 50,
 26,
 24,
 48,
 19,
 48,
 49,
 46,
 46,
 43,
 21,
 64,
 18,
 51,
 47,
 64,
 49,
 31,
 52,
 33,
 47,
 38,
 32,
 19,
 44,
 26,
 25,
 19,
 43,
 52,
 36,
 64,
 63,
 64,
 61,
 40,
 25,
 48,
 45,
 38,
 18,
 21,
 27,
 19,
 29,
 42,
 60,
 31,
 60,
 22,
 35,
 52,
 26,
 31,
 33,
 18,
 59,
 56,
 45,
 60,
 56,
 40,
 35,
 39,
 30,
 24,
 20,
 32,
 59,
 55,
 57,
 56,
 40,
 49,
 42,
 62,
 56,
 19,
 30,
 60,
 56,
 28,
 18,
 27,
 18,
 19,
 47,
 54,
 61,
 24,
 25,
 21,
 23,
 63,
 49,
 18,
 51,
 48,
 31,
 54,
 19,
 44,
 53,
 19,
 61,
 18,
 61,
 21,
 20,
 31,
 45,
 44,
 62,
 29,
 43,
 51,
 19,
 38,
 37,
 22,
 21,
 24,
 57,
 56,
 27,
 51,
 19,
 39,
 58,
 20,
 45,
 35,
 31,
 50,
 32,
 51,
 38,
 42,
 18,
 19,
 51,
 46,
 18,
 57,
 62,
 59,
 37,
 64,
 38,
 33,
 46,
 46,
 53,
 34,
 20,
 63,
 54,
 54,
 49,
 28,
 54,
 25,
 43,
 63,
 32,
 62,
 52,
 25,
 28,
 46,
 34,
 35,
 19,
 46,
 54,
 27,
 50,
 18,
 19,
 38,
 41,
 49,
 48,
 31,
 18,
 30,
 62,
 57,
 58,
 22,
 31,
 52,
 25,
 59,
 19,
 39,
 32,
 19,
 33,
 21,
 34,
 61,
 38,
 58,
 47,
 20,
 21,
 41,
 46,
 42,
 34,
 43,
 52,
 18,
 51,
 56,
 64,
 19,
 51,
 27,
 59,
 28,
 30,
 47,
 38,
 18,
 34,
 20,
 47,
 56,
 49,
 19,
 55,
 30,
 37,
 49,
 18,
 59,
 29,
 36,
 33,
 58,
 44,
 53,
 24,
 29,
 40,
 51,
 64,
 19,
 35,
 39,
 56,
 33,
 42,
 61,
 23,
 43,
 48,
 39,
 40,
 18,
 58,
 49,
 53,
 48,
 45,
 59,
 52,
 26,
 27,
 48,
 57,
 37,
 57,
 32,
 18,
 64,
 43,
 49,
 40,
 62,
 40,
 30,
 29,
 36,
 41,
 44,
 45,
 55,
 60,
 56,
 49,
 21,
 19,
 39,
 53,
 33,
 53,
 42,
 40,
 47,
 27,
 21,
 47,
 20,
 24,
 27,
 26,
 53,
 41,
 56,
 23,
 21,
 50,
 53,
 34,
 47,
 33,
 51,
 49,
 31,
 36,
 18,
 50,
 43,
 20,
 24,
 60,
 49,
 60,
 51,
 58,
 51,
 53,
 62,
 19,
 50,
 30,
 41,
 29,
 18,
 41,
 35,
 53,
 24,
 48,
 59,
 49,
 37,
 26,
 23,
 29,
 45,
 27,
 53,
 31,
 50,
 50,
 34,
 19,
 47,
 28,
 37,
 21,
 64,
 58,
 24,
 31,
 39,
 47,
 30,
 18,
 22,
 23,
 33,
 27,
 45,
 57,
 47,
 42,
 64,
 38,
 61,
 53,
 44,
 19,
 41,
 51,
 40,
 45,
 35,
 53,
 30,
 18,
 51,
 50,
 31,
 35,
 60,
 21,
 29,
 62,
 39,
 19,
 22,
 53,
 39,
 27,
 30,
 30,
 58,
 33,
 42,
 64,
 21,
 18,
 23,
 45,
 40,
 19,
 18,
 25,
 46,
 33,
 54,
 28,
 36,
 20,
 24,
 23,
 47,
 33,
 45,
 26,
 18,
 44,
 60,
 64,
 56,
 36,
 41,
 39,
 63,
 36,
 28,
 58,
 36,
 42,
 36,
 56,
 35,
 59,
 21,
 59,
 23,
 57,
 53,
 60,
 51,
 23,
 27,
 55,
 37,
 61,
 46,
 53,
 49,
 20,
 48,
 25,
 25,
 57,
 37,
 38,
 55,
 36,
 51,
 40,
 18,
 57,
 61,
 25,
 50,
 26,
 42,
 43,
 44,
 23,
 49,
 33,
 41,
 37,
 22,
 23,
 21,
 51,
 25,
 32,
 57,
 36,
 22,
 57,
 64,
 36,
 54,
 47,
 62,
 61,
 43,
 19,
 18,
 19,
 49,
 60,
 26,
 49,
 60,
 26,
 27,
 44,
 63,
 32,
 22,
 18,
 59,
 44,
 33,
 24,
 43,
 45,
 61,
 35,
 62,
 62,
 38,
 34,
 43,
 50,
 19,
 57,
 62,
 41,
 26,
 39,
 46,
 45,
 32,
 59,
 44,
 39,
 18,
 53,
 18,
 50,
 18,
 19,
 62,
 56,
 42,
 37,
 42,
 25,
 57,
 51,
 30,
 44,
 34,
 31,
 54,
 24,
 43,
 48,
 19,
 29,
 63,
 46,
 52,
 35,
 51,
 44,
 21,
 39,
 50,
 34,
 22,
 19,
 26,
 29,
 48,
 26,
 45,
 36,
 54,
 34,
 31,
 27,
 20,
 44,
 43,
 45,
 34,
 24,
 26,
 38,
 50,
 38,
 27,
 39,
 39,
 63,
 33,
 36,
 ...]

In [80]:
# Series의 np.array 변환 - 2가지 방법
np.array(df_ins['age'])
df_ins['age'].to_numpy()

array([19, 18, 28, ..., 18, 21, 61], dtype=int64)

In [81]:
# list의 Series 변환
pd.Series(['A','B','B','A'])

0    A
1    B
2    B
3    A
dtype: object

In [82]:
# Series의 .mean() 활용 평균 계산
df_ins['age'].mean()

39.20702541106129

In [83]:
# numpy.mean() 활용 평균 계산
np.mean(df_ins['age'])

39.20702541106129

#### End of script